@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar-brand{
    font-family: Poppins;
}
.page{
    color: #2ecc71;
}
#logo{
    border-radius: 11px;
    width: 35px;
    height: 30px;
}
body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.card{
    background-color: #ffffff8a;
    border-radius: 15px;
}

*{
    font-family: poppins;
}
.card-text{
    font-size: 11px;
}

.card-img-top{
    border-radius: 15px;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 10px;}
    ::-webkit-scrollbar-thumb {
    background: #000000a6;}

.tit{
    color: white;
    font-weight: bold;
    font-size: 70px;
}
.cardcode{
    width: 700px;
    font-size: 13px;
}
